[tool.poetry]
name = "retrocookie"
version = "0.1.0"
description = "Retrocookie"
authors = ["Claudio Jolowicz <mail@claudiojolowicz.com>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/cjolowicz/retrocookie"
repository = "https://github.com/cjolowicz/retrocookie"
documentation = "https://retrocookie.readthedocs.io"

[tool.poetry.urls]
Changelog = "https://github.com/cjolowicz/retrocookie/releases"

[tool.poetry.dependencies]
python = "^3.6.1"
click = "^7.0"
git-filter-repo = "^2.26.0"
pygit2 = "^1.2.1"

[tool.poetry.dev-dependencies]
pytest = "^5.4.2"
coverage = {extras = ["toml"], version = "^5.1"}
safety = "^1.9.0"
mypy = "^0.770"
typeguard = "^2.7.1"
xdoctest = "^0.12.0"
sphinx = "^3.0.3"
sphinx-autobuild = "^0.7.1"
pre-commit = "^2.4.0"
cookiecutter = "^1.7.2"
pygments = "^2.6.1"

[tool.poetry.scripts]
retrocookie = "retrocookie.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["retrocookie"]

[tool.coverage.report]
show_missing = true
fail_under = 35

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
